<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>City Climate Detail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<h2 th:text="'Climate Data for Station: ' + ${station.station}" />
	
	<div class="container py-5">
	
    <div class="row">
        <div class="col-10 mx-auto">
            <!--display users list-->
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td>Station: </td>
                    <td th:text="${station.station}"/>
                </tr>
                <tr>
                    <td>Province: </td>
                    <td th:text="${station.province}"/>
                </tr>
                <tr>
                    <td>Date: </td>
                    <td th:text="${#dates.format(station.date, 'dd-MM-yyyy')}"/>
                </tr>
                <tr>
                    <td>Mean Temp: </td>
                    <td th:text="${station.tempMean}"/>
                </tr>
                <tr>
                    <td>Max Monthly Temp: </td>
                    <td th:text="${station.tempMax}"/>
                </tr>
                <tr>
                    <td>Min Monthly Temp: </td>
                    <td th:text="${station.tempMin}"/>
                </tr>
                
                </tbody>
                
            </table>
        </div>
    </div>
	</div>    
    
	<form action="#" th:action="@{/summary}" method="get">
	
	    <p><button type="submit" value="Submit">Back</button>
	    
	</form>	
    
    
</body>

</html>